 .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 4fr 3fr 3fr 3fr;
  grid-gap: 8em;
}

header {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.one {
  grid-column: 2/6;
  grid-row: 2/3;
}

.two {
  grid-column: 1/-1;
  grid-row: 3/4;
}

.three {
  grid-column: 1/-1;
  grid-row: 4/5;
}

.four {
  grid-column: 1/-1;
  grid-row: 5/6;
}

.five {
  grid-column: 1/-1;
  grid-row: 6/7;
}
