body {
  background: radial-gradient(circle, lightgray 0%, white 100%);
}

* {
  margin: 0;
  padding: 0;
}

/*header*/
header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: inherit;
  background-color: white;
  z-index: 20;
  filter: drop-shadow(0 1vw 0.5vw rgba(0,0,0,0.2));

  /*animation-duration: 2s;
  animation-name: slidein; */
}

/*header icons*/
.icon {
  cursor: pointer;
  width: 6vw;
  margin: 0 1vw;
  filter: drop-shadow(-0.1vw 0.1vw 0.1vw rgba(0,0,0,0.2));
}

.mc-logo {
  transform: rotate(180deg);
}

.icon:hover {
  filter: drop-shadow(-0.5vw 0.5vw 0.5vw rgba(0,0,0,0.2)) grayscale(1) opacity(0.5);
}

.infobtn {
  margin: 0 5vw;
}

/*footer*/
footer {
  color: inherit;
  background-color: white;
}

/*texts*/
#title {
  font-size: 7em;
}

.text {
  font-size: 3em;
  font-family: 'Rubik', sans-serif;
}

.smtext {
  line-height: 4vw;
  margin: 2vw 4vw;
  color: rgb(140, 140, 140);
  background-color: inherit;
  font-size: 1.5em;
  font-family: 'Rubik', sans-serif;
  list-style: none;
}

.quote {
  padding-top: 9vw;
  line-height: 4vw;
  margin: 0vw 4vw;
  color: rgb(170, 170, 170);
  background-color: inherit;
  font-size: 3em;
  font-family: 'Josefin Sans', sans-serif;
}

.textleft {
  text-align: left;
}

.textright {
  text-align: right;
}

/*main content*/

.deal {
  width: 45vw;
  padding-bottom: 1vh;
  font-size: 6em;
  font-family: 'Bebas Neue', cursive;
  margin: 0 1vw;
  filter: drop-shadow(-0.5vw 0.5vw 0.25vw rgba(0,0,0,0.3));
  border-radius: 1vw 1vw 1vw 1vw;
}

.left {
  float: left;
}

.right {
  float: right;
}




/* Drop down style ---------------------------------------- */

/* The container <div> - needed to position the dropdown content */
.orderdropdown, .infodropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.menucontent, .infocontent {
  justify-content: space-between;
  display: none;
  position: absolute;
  color: inherit;
  background-color: #f1f1f1;
  box-shadow: -0.1em 0.1em 1em rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.menucontent a, .infocontent a {
  margin: 0;
  color: black;
  background-color: inherit;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  padding: 1em 1.5em;
  text-decoration: none;
  display: block;
}

/* Lists inside the dropdown */
.menucontent li, .infocontent li {
  list-style: none;
}

/* Change color of dropdown links on hover */
.menucontent a:hover, .infocontent a:hover {
  color: inherit;
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}




/* Slideshowx style ---------------------------------------- */

.specdeal {
  width: 100%;
  filter: drop-shadow(-0.5vw 0.5vw 0.25vw rgba(0,0,0,0.3));
  border-radius: 1vw 1vw 1vw 1vw;
}

.slideimg {
  width: 100%;
  border-radius: 1vw 1vw 1vw 1vw;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 1vw;
  color: red;
  font-weight: bold;
  font-size: 4em;
  transition: 0.6s ease;
  user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  opacity: 0.5;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* Caption text */
.captext {
  filter: invert(50%);
  font-size: 2em;
  font-family: 'Rubik', sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dotcontainer {
  text-align:center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  margin: 0 0.5vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active, .dot:hover {
  background-color: red;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    filter: blur(0.25rem) grayscale(1);
  }

  100% {
    opacity: 1;
    filter: blur(0) grayscale(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    filter: blur(0.25rem) grayscale(1);
  }

  100% {
    opacity: 1;
    filter: blur(0) grayscale(0);
  }
}

/*
@keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
   margin-left: 0%;
   width: 100%;
 }
}

@keyframes fadein {
  from {
    opacity: 0
  }

  to {
   opacity: 1
 }
}
